<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% title %> </title>
</head>

<body>
    <p>ID is <%= data.id %> </p>
    <p>NAME is <%= data.name %> </p>
</body>

</html>